/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
  background-color: #967C74
}

body {
   background-color: #967C74;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map-of-usa {
  padding-top: 50px;
}

.top-bar {
  background-color: #E58552;
}
.park-name {
  margin-left: 1rem;
}
.state-name {
  margin-left: 1rem;
}

.state, .state a:visited {
 fill: #384634;
}

.state a:hover {
 fill: #E58552;
}

.title {
  padding-top: 50px;
  color: #FFFFFF;
  font-size: 80px;
  font-family: 'Playfair Display', serif;
}

p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
