/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.container {
  padding: 5em;
  padding-top: 0;
}

.state-name, .list-of-parks h2, .park, .logIn {
  font-family: 'Playfair Display', serif;
  color: #384634;
  font-size: 40px;
}

h3 {
  font-family: 'Playfair Display', serif;
  color: #384634;
  font-size: 30px;
}

.list-of-parks h2 {
  font-size: 30px;
}

.review-form-container h2 {
  font-family: 'Playfair Display', serif;
  color: #384634;
  font-size: 25px;
}

.logIn {
  padding-top: 1em;
  padding-bottom: 1em;
}

.state-show, .list-of-parks a, .park p, h4 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

span {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.park-name {
  list-style: none;
}

.park-name i {
  padding-right: 1em;
  color: #384634;
}

section.image {
  display: flex;
  flex-direction: row;
}

.image p {
  padding-right: 1rem;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-a-review {
  padding-top: 2em;
}

.map-of-usa {
  padding-top: 50px;
}

.button {
  background: #FFFFFF;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 0;
}

.orange {
  color: #E58552;
}

.grey {
  color: #967C74;
}

.button:hover {
  background: #967C74;
}

.button a {
  color: #000000;
}

.top-bar, .top-bar a {
  background-color: #E58552;
  font-family: 'Playfair Display', serif;
  color: #FFFFFF;
  font-size: 25px;
}

.park-name {
  margin-left: 1rem;
}

.park-name a {
  color: #E58552;
}

.state a, .state a:visited {
 fill: #384634;
}

.state a:hover {
 fill: #E58552;
}

.title {
  padding-top: 50px;
  color: #E58552;
  font-size: 80px;
  font-family: 'Playfair Display', serif;
}

.review-form-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.review-tile {
  border: 1px solid #384634;
  border-radius: 5px;
  padding: 1em;
}

.review-tile p {
  margin: 0;
}

p, .form-button, .form-button .submit {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.form-button, .form-button .submit {
  padding: 1em;
  background-color: #384634;
  color: #FFFFFF;
  margin: .25em;
  border: 0;
  font-size: 15px;
}

.form-button:hover, .form-button .submit:hover {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 300ms ease-out;
}


.moreLinks {
  padding-top: 2em;
}

.moreLinks a {
  color: #384634;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 40.0625em) {

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #E58552;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }

  .top-bar-section ul {
    display: flex;
    align-items: center;
  }

}

input[type="range"] {
    width: 25%;
    margin-bottom: 4ex ;
    box-sizing: border-box;
}
datalist {
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin-top: -23px;
    padding-top: 0px;
}
option {
    width: 2ex;
    display: flex;
    justify-content: center;
    height: 42px;
    align-items: end;
    background-image: url(tick.png);
    height: 4ex;
    background-position-y: -15px;
    background-position-x: center;
    z-index: -1;
}
