<h1>Reviews</h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      - Rating: <%= review.rating %>
      - Description: <%= review.description %>
      - Net Votes: <%= review.net_votes %>
    </li>
  <% end %>
</ul>
