<h1>Reviews</h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <div>
        - Rating: <%= review.rating %>
        - Description: <%= review.description %>
        <% @votes.each do |vote| %>
          <% if vote.review == review %>
            <% review.net_votes += vote.vote_value %>
          <% end %>
        <% end %>
        - Net Votes: <%= review.net_votes %>
      </div>
    </li>
  <% end %>
</ul>
